@import '../../scss/reference';

.pagination {
    list-style: none;
    margin: 15px 0 30px;
    padding: 0;
    text-align: center;

    &__item {
        display: inline-block;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        background: $pagination-default-background-color;
        border: $pagination-default-border;
        border-radius: $pagination-default-border-radius;
        color: $pagination-default-color;
        cursor: pointer;
        display: block;
        padding: 5px 15px;
        transition: $global-transition;

        &:hover, &:focus {
            background: $pagination-default-background-color-hover;
            border: $pagination-default-border-hover;
            color: $pagination-default-color-hover;
        }

        &--isActive {
            background: $pagination-default-background-color-active;
            border: $pagination-default-border-active;
            color: $pagination-default-color-active;

            &:hover, &:focus {
                border-color: $pagination-default-color-hover;
            }
        }
    }
}