@import '../../scss/reference';

.badge {
    display: inline-block;
    background: $color-silver-chalice;
    border: 2px solid $color-silver-chalice;
    border-radius: 3px;
    color: $color-text;
    cursor: default;
    font-size: rem-calc(14);
    line-height: rem-calc(16);
    margin: 0 15px 10px 0;
    padding: 3px 5px;
    text-align: center;

    $badge: &;

    &:hover {
        background-color: $color-cod-gray;
        border-color: $color-cod-gray;
        color: $color-white;
    }

    &--primary {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;

        &:hover {
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
            color: $color-white;
        }
    }

    &--secondary {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;

        &:hover {
            background-color: $color-secondary-dark;
            border-color: $color-secondary-dark;
            color: $color-white;
        }
    }

    &--success {
        background-color: $color-success;
        border-color: $color-success;
        color: $color-white;

        &:hover {
            background-color: $color-success-dark;
            border-color: $color-success-dark;
            color: $color-white;
        }
    }

    &--warning {
        background-color: $color-warning;
        border-color: $color-warning;
        color: $color-white;

        &:hover {
            background-color: $color-warning-dark;
            border-color: $color-warning-dark;
            color: $color-white;
        }
    }

    &--error {
        background-color: $color-error;
        border-color: $color-error;
        color: $color-white;

        &:hover {
            background-color: $color-error-dark;
            border-color: $color-error-dark;
            color: $color-white;
        }
    }

    &--ghost {
        background-color: transparent;
        color: $color-silver-chalice;

        &:hover {
            background-color: transparent;
            border-color: $color-cod-gray;
            color: $color-cod-gray;
        }

        &#{$badge}--primary {
            background-color: transparent;
            border-color: $color-primary;
            color: $color-white;

            &:hover {
                background-color: transparent;
                border-color: $color-primary-dark;
                color: $color-white;
            }
        }

        &#{$badge}--secondary {
            background-color: transparent;
            border-color: $color-secondary;
            color: $color-white;

            &:hover {
                background-color: transparent;
                border-color: $color-secondary-dark;
                color: $color-white;
            }
        }

        &#{$badge}--success {
            background-color: transparent;
            border-color: $color-success;
            color: $color-white;

            &:hover {
                background-color: transparent;
                border-color: $color-success-dark;
                color: $color-white;
            }
        }

        &#{$badge}--warning {
            background-color: transparent;
            border-color: $color-warning;
            color: $color-white;

            &:hover {
                background-color: transparent;
                border-color: $color-warning-dark;
                color: $color-white;
            }
        }

        &#{$badge}--error {
            background-color: transparent;
            border-color: $color-error;
            color: $color-white;

            &:hover {
                background-color: transparent;
                border-color: $color-error-dark;
                color: $color-white;
            }
        }
    }
}