@import '../../scss/reference';

.button {
    background: $button-default-background-color;
    border: $button-default-border;
    border-radius: $button-default-border-radius;
    color: $button-default-color;
    cursor: pointer;
    display: inline-block;
    font-size: $button-default-font-size;
    line-height: $button-default-line-height;
    padding: 12px 20px;
    text-align: center;
    transition: $global-transition;

    $button: &;

    &:hover {
        background-color: $color-cod-gray;
        border-color: $color-cod-gray;
        color: $color-white;
    }

    @each $type, $colors in $global-variants {
        &--#{$type} {
            background-color: map-get($colors, default);
            border-color: map-get($colors, default);
            color: map-get($colors, text);

            &:hover {
                background-color: map-get($colors, hover);
                border-color: map-get($colors, hover);
                color: map-get($colors, text);
            }
        }
    }

    &--ghost {
        background-color: transparent;
        color: $color-silver-chalice;

        &:hover {
            background-color: transparent;
            border-color: $color-cod-gray;
            color: $color-cod-gray;
        }

        @each $type, $colors in $global-variants {
            &#{$button}--#{$type} {
                background-color: transparent;
                border-color: map-get($colors, default);
                color: map-get($colors, default);

                &:hover {
                    background-color: transparent;
                    border-color: map-get($colors, hover);
                    color: map-get($colors, hover);
                }
            }
        }
    }

    &--text {
        background: transparent;
        border-color: transparent;

        &:hover {
            background: transparent;
            border-color: transparent;
        }

        @each $type, $colors in $global-variants {
            &#{$button}--#{$type} {
                background: transparent;
                border-color: transparent;
                color: map-get($colors, default);

                &:hover {
                    background: transparent;
                    border-color: transparent;
                    color: map-get($colors, hover);
                }
            }
        }
    }
}