@import './colors';

//
// Breakpoints
$breakpoints: ('small': 0, 'medium': 640px, 'large': 1024px, 'xlarge': 1200px, 'xxlarge': 1440px);

//
// Semantic color variables
$color-primary: $color-pickled-bluewood;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);

$color-secondary: $color-genoa;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);

$color-success: $color-atlantis;
$color-success-dark: darken($color-success, 10%);
$color-success-light: lighten($color-success, 10%);

$color-warning: $color-jaffa;
$color-warning-dark: darken($color-warning, 10%);
$color-warning-light: lighten($color-warning, 10%);

$color-error: $color-tall-poppy;
$color-error-dark: darken($color-error, 10%);
$color-error-light: lighten($color-error, 10%);

$color-text: $color-primary-dark;
$color-header: $color-secondary;

$color-link: $color-secondary;
$color-link-hover: $color-success;
$color-link-visited: $color-link;
$color-link-visited-hover: $color-link-hover;
$color-link-active: $color-error;
$color-link-active-hover: $color-error;

//
// Globals
$global-background: $color-white;
$global-font-size: 16px;
$global-font-weight-light: 300;
$global-font-weight-normal: 400;
$global-font-weight-bold: 700;
$global-font-weight-thick: 900;
$global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$global-font-family-header: $global-font-family;
$global-line-height: 1.5;

//
// Global transitions defaults
$global-transition-smoothing: cubic-bezier(.23, 1, .32, 1);
$global-transition-duration: .4s;
$global-transition: all $global-transition-duration $global-transition-smoothing;

//
// Global variants
$global-variants: (
    primary: (
        default: $color-primary,
        hover: $color-primary-dark,
        text: $color-white
    ),
    secondary: (
        default: $color-secondary,
        hover: $color-secondary-dark,
        text: $color-white
    ),
    success: (
        default: $color-success,
        hover: $color-success-dark,
        text: $color-white
    ),
    warning: (
        default: $color-warning,
        hover: $color-warning-dark,
        text: $color-white
    ),
    error: (
        default: $color-error,
        hover: $color-error-dark,
        text: $color-white
    )
);

//
// Badges
$badge-default-background-color: $color-silver;
$badge-default-border: 2px solid $color-silver;
$badge-default-border-radius: 3px;
$badge-default-color: $color-text;
$badge-default-font-size: rem-calc(14px);
$badge-default-line-height: rem-calc(16px);

//
// Buttons
$button-default-background-color: $color-silver;
$button-default-border: 2px solid $color-silver;
$button-default-border-radius: 3px;
$button-default-color: $color-text;
$button-default-font-size: rem-calc(14px);
$button-default-line-height: rem-calc(16px);

//
// Pagination
$pagination-default-background-color: transparent;
$pagination-default-background-color-hover: $color-primary;
$pagination-default-background-color-active: $color-primary;
$pagination-default-border: 2px solid $color-primary;
$pagination-default-border-hover: 2px solid $color-primary;
$pagination-default-border-active: 2px solid $color-primary;
$pagination-default-border-radius: 5px;
$pagination-default-color: $color-primary;
$pagination-default-color-hover: $color-secondary;
$pagination-default-color-active: $color-white;