$primaryColor = #1b2632
$secondaryColor = #a3ce27
$tertiaryColor = #be2633
$highlightColor = #be2633

// showing default values
$accentColor = $secondaryColor
$textColor = $primaryColor
$borderColor = $secondaryColor
$codeBgColor = #1b2632

